dataset_med.csv
model.py
balanced_dataset.csv
lung_cancer_modelv2.pth
test.py 
lung_cancer_model_v2.pth
myenv
enhanced_model.py
final_model.py
rf_model.py
final_model_v2.py
final_model_v3.py
best_model_fold_0.pth
best_model_fold_1.pth
best_model_fold_2.pth
best_model_fold_3.pth
best_model_fold_4.pth
lung_cancer_model.pth
test.py
.venv
